<h1>Raven Multiselect Component</h1>
<p>Select multiple values from the drop-down box below, or type in new values.</p>

<form [formGroup]="colorForm" novalidate>
  <fieldset>
    <legend>Select one or more colors</legend>

    <raven-multiselect formControlName="color"
                       placeholder="Type and press Enter"
                       [enableCustomValues]="true">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="purple">Purple</option>
      <option value="yellow">Yellow</option>
    </raven-multiselect>
  </fieldset>

  <p>
    <strong>Value</strong>: {{ colorForm.get('color').value }}<br>
    <strong>Is Valid</strong>: {{ colorForm.valid ? 'true' : 'false' }}
  </p>
</form>
