<h1>Raven Multiselect Component</h1>

<form [formGroup]="ravenColorForm" novalidate>
  <fieldset>
    <legend>Select one or more colors</legend>

    <raven-multiselect formControlName="color"
                       [enableCustomValues]="true"
                       placeholder="Select a color">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="purple">Purple</option>
      <option value="yellow">Yellow</option>
    </raven-multiselect>
  </fieldset>

  <p>
    Value: {{ ravenColorForm.get('color').value }}<br>
    Is Valid: {{ ravenColorForm.valid ? 'true' : 'false' }}
  </p>
</form>
